/.clangd
/.clang-tidy
/AGENTS.md
/.cache
/.vscode
/bin
/build
/lib
/plan
/uml
/.codex
/build/coverage/
/bin/coverage/
/lib/coverage/
/coverage/
/log

# 忽略所有 .md 文件，但保留 README.md
*.md
!README.md

*.sqlite
