/.clangd
/.clang-tidy
/AGENTS.md
/.cache
/.vscode
/bin
/build
/lib
/plan
/uml
/.codex
/build/coverage/
/bin/coverage/
/lib/coverage/
/coverage/
/log
/协议模版
/.codegraph

# 忽略所有 .md 文件，但保留 README.md
*.md
!README.md

*.sqlite
*.sqlite-shm
*.sqlite-wal
*.patch
.gitattributes
*.bin
*.exe
*.openapi*
